.full-height {
    min-height: 80vh;
}

#wrapper {
    margin: 30px auto;
    font-family: Lato;
    font-size: 1.5rem;
    text-align: center;
    box-sizing: border-box;
    color: #333;
    
    #dialog {
      border: solid 1px #ccc;
      margin: 10px auto;
      padding: 20px 30px;
      display: inline-block;
      box-shadow: 0 0 4px #ccc;
      background-color: #FAF8F8;
      overflow: hidden;
      position: relative;
      max-width: 450px;
      
      h3 {
        margin: 0 0 10px;
        padding: 0;
        line-height: 1.25;
      }
      
      span {
        font-size: 70%;
      }
      
      #form {
        max-width: 300px;
        margin: 25px auto 0;
        
        input {
          margin: 0 2px;
          text-align: center;
          line-height: 80px;
          font-size: 50px;
          border: solid 1px #ccc;
          box-shadow: 0 0 5px #ccc inset;
          outline: none;
          width: 15%;
          transition: all .2s ease-in-out;
          border-radius: 3px;
          
          &:focus {
            border-color: rgb(21, 84, 155);
            box-shadow: 0 0 5px rgb(21, 84, 155) inset;
          }
          
          &::selection {
            background: transparent;
          }
        }
        
        button {
          margin:  30px 0 50px;
          width: 100%;
          padding: 6px;
          background-color: #3298dc;
          border: none;
          text-transform: uppercase;
        }
      }
      
      button {
        &.close {
          border: solid 2px;
          border-radius: 30px;
          line-height: 19px;
          font-size: 120%;
          width: 22px;
          position: absolute;
          right: 5px;
          top: 5px;
        }           
      }
      
      div {
        position: relative;
        z-index: 1;
      }
      
      img {
        position: absolute;
        bottom: -70px;
        right: -63px;
      }

      a {
        font-size: 60%;
      }
    }
  }